{% extends 'navigation.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
<div class="info">
<div class="container py-5" style="text-align:center;">
<h1>Payment Success</h1>
<br>
<img src="{% static 'images/success.webp' %}" height="200px" width="200px">
<br><br>
<h3>Congratulations! You have successfully done the payment.<br> Your order will reach to you soon.</h3>

</div>
</div>
{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}